@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webservice</title>
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Webservice.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        @{
            var claimsIdentity = User.Identity as ClaimsIdentity;
            string roleId = claimsIdentity?.Claims.FirstOrDefault(e => e.Type.Contains("role"))?.Value ?? string.Empty;
            string profilePicUrl = claimsIdentity?.Claims.FirstOrDefault(e => e.Type.Contains("userdata"))?.Value ??
            "images/profile.png";
        }
        <div class="nav-container">
            <div class="nav-logo">
                <div class="nav-log-img">
                    <img src="~/images/logo.jpg" alt="Logo" />
                </div>
                <a asp-action="Index" asp-controller="Home">
                    <div class="logo">
                        E-Buy
                    </div>
                </a>
            </div>
            <div class="nav-middle">
                <div class="nav-product">Mobiles</div>
                <div class="nav-product">Tablets</div>
                <div class="nav-product">Laptops</div>
            </div>
            <div class="nav-account">
                @if (claimsIdentity == null)
                {
                    <a asp-action="Login" asp-controller="Account">
                        <div class="account-operation">
                            Login
                        </div>
                    </a>
                    <a asp-action="SignUp" asp-controller="Account">
                        <div class="account-operation">
                            Sign Up
                        </div>
                    </a>
                }
                else
                {
                    @switch (roleId)
                    {
                        case "2":
                            <a>
                                <div class="account-operation">
                                    <img title="cart" src="~/images/cart.png">
                                </div>
                            </a>
                            <a asp-action="LogOut" asp-controller="Account">
                                <div class="account-operation">
                                    <img title="logout" src="~/images/logout.png">
                                </div>
                            </a>
                            <a asp-action="Profile" asp-controller="Account">
                                <div class="account-operation">
                                    <img class="profile" title="profile" src="~/@profilePicUrl">
                                </div>
                            </a>
                            break;
                        case "1":
                            <a>
                                <div class="account-operation">
                                    Add Category
                                </div>
                            </a>
                            <a asp-action="LogOut" asp-controller="Account">
                                <div class="account-operation">
                                    <img title="logout" src="~/images/logout.png">
                                </div>
                            </a>
                            <a asp-action="Profile" asp-controller="Account">
                                <div class="account-operation">
                                    <img title="profile" src="~/images/profile.png">
                                </div>
                            </a>
                            break;
                        default:
                            <a asp-action="Login" asp-controller="Account">
                                <div class="account-operation">
                                    Login
                                </div>
                            </a>
                            <a asp-action="SignUp" asp-controller="Account">
                                <div class="account-operation">
                                    Sign Up
                                </div>
                            </a>
                            break;
                    }
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
