<div id="toast_default">

</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div
        class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
        <div>
            <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction"
                class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                type="button">
                <span class="sr-only">Action button</span>
                Action
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <div id="dropdownAction"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reward</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Promote</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Activate
                            account</a>
                    </li>
                </ul>
                <div class="py-1">
                    <a href="#"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete
                        User</a>
                </div>
            </div>
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" id="table-search-users"
                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search for users" oninput="loadUsersAfterSearch(1)">
        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    ContactNumber
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Payment
                </th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>

    </table>
</div>
<nav aria-label="Page navigation example" id="pagination">

</nav>
<script>
    function loadUsersAfterSearch(pageNo) {
        document.getElementById('toast_default').innerHTML = ''
        var tbody_row = document.getElementById("tbody");
        var searchText = document.getElementById("table-search-users") ? document.getElementById("table-search-users").value : '';
        tbody_row.innerHTML = '';
        fetch(`/Admin/GetSellerRequestList?pageNo=${pageNo}&pageSize=5&searchTerm=${searchText}&status=""`)
            .then(response => response.json())
            .then(json => {
                if (json.value.result.length > 0) {
                    json.value.result.forEach(sellerReqeust => {
                        var tr_for_user_row = document.createElement("tr");
                        tr_for_user_row.className = "bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600";

                        tbody_row.appendChild(tr_for_user_row);

                        var th_user_row = document.createElement("th");
                        th_user_row.scope = "row";
                        th_user_row.className = "flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white";

                        tr_for_user_row.appendChild(th_user_row);

                        var div_for_user_row = document.createElement("div");
                        div_for_user_row.className = "ps-3";

                        th_user_row.appendChild(div_for_user_row);

                        var user_name_div = document.createElement("div");
                        user_name_div.className = "text-base font-semibold";
                        user_name_div.textContent = sellerReqeust.storeName;

                        div_for_user_row.appendChild(user_name_div);

                        var user_email_div = document.createElement("div");
                        user_email_div.className = "font-normal text-gray-500";


                        .textContent = sellerReqeust.storeContactNumber;
                        div_for_user_row.appendChild(user_email_div);

                        var td_for_state = document.createElement("td");
                        td_for_state.className = "px-6 py-4";
                        td_for_state.textContent = sellerReqeust.storeAddress;
                        tr_for_user_row.appendChild(td_for_state);

                        var td_for_username = document.createElement("td");
                        td_for_username.className = "px-6 py-4";

                        var div_for_user_name = document.createElement('div');
                        div_for_user_name.className = "flex items-center";
                        div_for_user_name.textContent = sellerReqeust.paymentMethod;
                        td_for_username.appendChild(div_for_user_name);

                        tr_for_user_row.appendChild(td_for_username);

                        var td_for_action = document.createElement("td");
                        td_for_action.className = "px-6 py-4";
                        td_for_action.textContent = "view detail";

                        tr_for_user_row.appendChild(td_for_action);
                    });
                } else {
                    document.getElementById('toast_default').innerHTML = '';
                    const toastDanger = document.createElement('div');
                    toastDanger.id = 'toast-danger';
                    toastDanger.className = 'flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800';
                    toastDanger.role = 'alert';

                    const iconContainer = document.createElement('div');
                    iconContainer.className = 'inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200';

                    const svgIcon = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
                    svgIcon.className = 'w-5 h-5';
                    svgIcon.setAttribute('aria-hidden', 'true');
                    svgIcon.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
                    svgIcon.setAttribute('fill', 'currentColor');
                    svgIcon.setAttribute('viewBox', '0 0 20 20');

                    const pathIcon = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                    pathIcon.setAttribute('d', 'M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z');

                    svgIcon.appendChild(pathIcon);
                    iconContainer.appendChild(svgIcon);

                    const srOnlyIcon = document.createElement('span');
                    srOnlyIcon.className = 'sr-only';
                    srOnlyIcon.textContent = 'Error icon';

                    iconContainer.appendChild(srOnlyIcon);

                    const messageContainer = document.createElement('div');
                    messageContainer.className = 'ms-3 text-sm font-normal';
                    messageContainer.textContent = 'No seller request found';

                    const closeButton = document.createElement('button');
                    closeButton.type = 'button';
                    closeButton.className = 'ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700';
                    closeButton.setAttribute('data-dismiss-target', '#toast-danger');
                    closeButton.setAttribute('aria-label', 'Close');

                    const srOnlyClose = document.createElement('span');
                    srOnlyClose.className = 'sr-only';
                    srOnlyClose.textContent = 'Close';

                    const closeIcon = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
                    closeIcon.className = 'w-3 h-3';
                    closeIcon.setAttribute('aria-hidden', 'true');
                    closeIcon.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
                    closeIcon.setAttribute('fill', 'none');
                    closeIcon.setAttribute('viewBox', '0 0 14 14');

                    const pathClose = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                    pathClose.setAttribute('stroke', 'currentColor');
                    pathClose.setAttribute('stroke-linecap', 'round');
                    pathClose.setAttribute('stroke-linejoin', 'round');
                    pathClose.setAttribute('stroke-width', '2');
                    pathClose.setAttribute('d', 'm1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6');

                    closeIcon.appendChild(pathClose);
                    closeButton.appendChild(srOnlyClose);
                    closeButton.appendChild(closeIcon);

                    toastDanger.appendChild(iconContainer);
                    toastDanger.appendChild(messageContainer);
                    toastDanger.appendChild(closeButton);

                    document.getElementById('toast_default').appendChild(toastDanger);

                    setTimeout(function () {
                        document.getElementById('toast_default').innerHTML = "";
                    }, 3000);
                }

                const pagination = document.getElementById('pagination');
                pagination.innerHTML = '';

                var ul = document.createElement('ul');
                ul.className = "inline-flex -space-x-px text-sm";

                var li_previous = document.createElement('li');
                var a_previous_page = document.createElement('a');
                a_previous_page.textContent = "Previous";
                li_previous.appendChild(a_previous_page);
                li_previous.className = 'flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white';

                var li_next = document.createElement('li');
                var a_next_page = document.createElement('a');
                a_next_page.textContent = "Next";
                li_next.appendChild(a_next_page);
                li_next.className = 'flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white';

                ul.appendChild(li_previous);
                for (let i = 1; i <= json.value.pagedData.totalPages; i++) {
                    var li = document.createElement('li');
                    var a = document.createElement('a');
                    a.className = 'flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white';
                    a.textContent = i;

                    if (i === pageNo) {
                        a.setAttribute('aria-current', 'page');
                    }
                    li.appendChild(a);

                    ul.appendChild(li);

                    a.addEventListener('click', function (event) {
                        event.preventDefault();
                        const allLinks = ul.querySelectorAll('a');
                        allLinks.forEach(link => link.removeAttribute('aria-current'));
                        a.setAttribute('aria-current', 'page');
                        loadUsersAfterSearch(i);
                    });
                }

                ul.appendChild(li_next);
                pagination.appendChild(ul);

            })
            .catch(error => console.error('Error fetching users:', error)); // Add error handling

    }

    document.addEventListener("DOMContentLoaded", function () {
        loadUsersAfterSearch(1);
    });
</script>

<style>
    #pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    #toast_default {
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
</style>