@section Styles {
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
}

@{
    string loginMessage = ViewData["LoginMessage"] as string;
    string toastClass = "success";
    if (!string.IsNullOrWhiteSpace(loginMessage))
    {
        toastClass = loginMessage.Contains("Invalid") ? "error" : "success";
    }
}
@model Service.Dto.LoginRequest;

@if (!string.IsNullOrEmpty(loginMessage))
{
    <div id="toast" class="show @toastClass">
    @loginMessage
</div>
}
<div class="singup-container">

    <div class="form-container">
        <form asp-action="Login" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()
            <div class="input-group">
                <label for="firstName">Email/Username</label>
                <input asp-for="EmailIdOrUserName" type="text" id="EmailIdOrUserName" name="EmailIdOrUserName" required>
            </div>
            <div class="input-group">
                <label for="lastName">Password</label>
                <input asp-for="PassWord" type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <button type="submit">Login</button>
            </div>
            <div class="login-link">
                <p>Don't have an account? <a asp-controller="Account" asp-action="SignUp">Sign Up</a></p>
            </div>
        </form>
    </div>
    <div class="image-container">
        <img src="https://www.searchenginejournal.com/wp-content/uploads/2020/03/20-free-things-you-need-to-do-after-launching-your-ecommerce-website-5e664bcb60da5.png"
            alt="Illustration">
    </div>
</div>

<style>
    #toast {
        position: fixed;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        color: #eae4e4;
        padding: 10px 40px;
        border-radius: 5px;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    #toast.error {
        background-color: red;
    }

    #toast.success {
        background-color: green;
    }

    #toast.show {
        opacity: 1;
    }
</style>

<script>
    setTimeout(function () {
        var toast = document.getElementById("toast");
        toast.classList.remove("show");
    }, 1500);
</script>