@section Styles {
        <link href="~/css/SignUp.css" rel="stylesheet" type="text/css" />
}
@{
        string accountVerifyMessage = ViewData["AccountVerifyResponseMessage"] as string;
}
@model Service.Dto.UserResponse;

<div class="singup-container">
        <div class="form-container">
                <h2>Profile</h2>
                <form asp-action="UpdateProfile" asp-controller="Account" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                                <label for="firstName">First Name</label>
                                <input asp-for="FirstName" value="@Model.FirstName" type="text" id="firstName"
                                        name="FirstName">
                        </div>
                        <div class="input-group">
                                <label for="lastName">Last Name</label>
                                <input asp-for="LastName" value="@Model.LastName" type="text" id="lastName"
                                        name="LastName" required>
                        </div>
                        <div class="input-group">
                                <label for="email">Email Address</label>
                                <input asp-for="EmailId" value="@Model.EmailId" type="email" id="email" name="EmailId"
                                        readonly>
                        </div>
                        <div class="input-group">
                                <label for="username">User Name</label>
                                <input asp-for="Username" value="@Model.Username" type="username" id="username"
                                        name="username" required>
                        </div>
                        <div class="input-group">
                                <label for="ProfilePic">Profile</label>
                                <input asp-for="ProfilePicUrl" type="file" id="ProfilePic" name="ProfilePic">
                        </div>
                        <div class="input-group">
                                <button type="submit">Update</button>
                        </div>
                </form>
        </div>

        <div class="image-container">
                <div class="profile-pic-wrapper">
                        <img class="userprofile" src="~/@Model.ProfilePicUrl" alt="Profile Picture">

                </div>
        </div>
</div>

<script>
        setTimeout(function () {
                var toast = document.getElementById("toast_default");
                toast.innerHTML = "";
        }, 3000);       
</script>

<style>
        #toast_default {
                position: fixed;
                top: 15%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1000;
        }
</style>
