@section Styles {
    <link href="~/css/SignUp.css" rel="stylesheet" type="text/css" />
}
@model Service.Dto.SignUpRequest;
@{
    string message = ViewData["MessageForSignUp"] as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="singup-container">
    <div class="form-container">
        <h2>Sign Up</h2>
        <form asp-action="SignUp" asp-controller="Account" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="input-group">
                <label for="firstName">First Name</label>
                <input asp-for="FirstName" type="text" id="firstName" name="FirstName">
            </div>
            <div class="input-group">
                <label for="lastName">Last Name</label>
                <input asp-for="LastName" type="text" id="lastName" name="LastName" required>
            </div>
            <div class="input-group">
                <label for="email">Email Address</label>
                <input asp-for="EmailId" type="email" id="email" name="EmailId" required>
            </div>
            <div class="input-group">
                <label for="username">User Name</label>
                <input asp-for="UserName" type="username" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input asp-for="PassWord" type="password" id="password" name="Password" required>
            </div>
            <div class="input-group">
                <label for="password">Confrim Password</label>
                <input asp-for="ConfirmPassword" type="password" id="password" name="Password" required>
            </div>
            <div class="input-group">
                <label for="dob">Date of Birth</label>
                <input asp-for="DateOfBirth" type="date" id="dob" name="DateOfBirth" required>
            </div>
            <div class="input-group">
                <label for="ProfilePic">Profile</label>
                <input asp-for="ProfilePic" type="file" id="ProfilePic" name="ProfilePic">
            </div>
            <div class="input-group">
                <label for="country" style="margin-right: 25px;">Country</label>
                <select id="country" name="CountryId" asp-for="CountryId" onchange="loadStates()">
                    <option value="">Select Country</option>
                    <option asp-for="CountryId" value="1">India</option>
                </select>
            </div>
            <div class="input-group">
                <label for="state" style="margin-right: 25px;">State</label>
                <select id="state" name="StateId" asp-for="StateId" onchange="loadCities()">
                    <option asp-for="StateId" value="">Select State</option>
                </select>
            </div>
            <div class="input-group">
                <label for="city" style="margin-right: 25px;">City</label>
                <select id="city" name="CityId" asp-for="CityId" onchange="assignValueToDto()">
                    <option asp-for="CityId" value="">Select City</option>
                </select>
            </div>
            <div class="input-group">
                <button type="submit">Sign Up</button>
            </div>
            <div class="login-link">
                <p>Already have an account? <a asp-controller="Account" asp-action="Login">Log In</a></p>
            </div>
        </form>
    </div>
    <div class="image-container">
        <img src="https://www.searchenginejournal.com/wp-content/uploads/2020/03/20-free-things-you-need-to-do-after-launching-your-ecommerce-website-5e664bcb60da5.png"
            alt="Illustration">
    </div>
</div>

<script>
    function loadStates() {
        var countryId = document.getElementById("country").value;
        var stateDropdown = document.getElementById("state");
        stateDropdown.innerHTML = '<option value="">Select State</option>';
        var cityDropdown = document.getElementById("city");
        cityDropdown.innerHTML = '<option value="">Select City</option>';

        if (countryId) {
            fetch(`/Account/GetStates?countryId=${countryId}`)
                .then(response => response.json())
                .then(states => {
                    states.forEach(state => {
                        var option = document.createElement("option");
                        option.value = state.id;
                        option.text = state.name;
                        stateDropdown.add(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }

    function loadCities() {
        var countryId = document.getElementById("country").value;
        var stateId = document.getElementById("state").value;
        var cityDropdown = document.getElementById("city");
        cityDropdown.innerHTML = '<option value="">Select City</option>';

        if (stateId) {
            fetch(`/Account/GetCities?countryId=${countryId}&stateId=${stateId}`)
                .then(response => response.json())
                .then(cities => {
                    cities.forEach(city => {
                        var option = document.createElement("option");
                        option.value = city.id;
                        option.text = city.name;
                        cityDropdown.add(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }
</script>